window {
    background: transparent;
}

#outer-box {
    padding: 20px;
    border-radius: 16px;
    border: 2px solid #d2abff;
    background-color: rgba(29,19,37,0.95);
}
#entry {
    font-size: xx-large;
    color: #d2abff;
    padding: 5px 10px;
    min-height: 87px;
    background: rgba(29,19,37,0.95);
}
#entry:selected * {
    color: rgba(0, 0, 0, 1);
    /* box-shadow: none; */
    background-color: #d2abff;
    border-radius: 10px;
}
